@utility button {
	@apply px-[1em] py-[0.5em] rounded-full;
}

@utility button--primary {
	@apply button;
	@apply transition-all font-semibold text-white;
	@apply hocus:text-white;
	@apply active:text-white;

	background: linear-gradient(
		135deg,
		var(--primary-gradient-start),
		var(--primary-gradient-end)
	);

	transition:
		box-shadow 150ms,
		--primary-gradient-start 150ms,
		--primary-gradient-end 150ms;

	&:hover,
	&:focus {
		--primary-gradient-start: var(--color-pink-600);
		--primary-gradient-end: var(--color-pink-600);

		box-shadow:
			0 0 5px rgba(230 25 128 / 5%),
			0 0 25px rgba(230 25 128 / 10%),
			0 0 50px rgba(230 25 128 / 15%);

		&:where(.dark, .dark *) {
			box-shadow:
				0 0 5px rgba(230 25 128 / 20%),
				0 0 25px rgba(230 25 128 / 40%),
				0 0 50px rgba(230 25 128 / 60%);
		}
	}

	&:active {
		--primary-gradient-start: var(--color-pink-900);
		--primary-gradient-end: var(--color-purple-950);
	}
}

@utility button--muted {
	@apply button;
	@apply bg-white border border-grey-300;
	@apply hocus:bg-grey-50 hocus:border-grey-400;
	@apply active:bg-grey-100 active:border-grey-500;
	@apply dark:bg-white/20 dark:border-white/20;
	@apply dark:hocus:bg-white/30 dark:hocus:border-white/20;
	@apply dark:active:bg-white/40 dark:hocus:border-white/20;
}
