:root {
	font-family: "Inter Variable", sans-serif;
	font-feature-settings: "liga" 1, "dlig" 1, "calt" 1, "tnum" 1, "ss01" 1, "ss04" 1;
	font-optical-sizing: auto;
}

@font-face {
	font-family: "Inter Variable";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: local("Inter Variable"), url("../fonts/InterVariable.woff2") format("woff2");
}

@font-face {
	font-family: "Inter Variable";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: local("Inter Variable"), url("../fonts/InterVariable-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 400;
	src: local("IBM Plex Mono"), local("IBMPlexMono"), url("../fonts/IBMPlexMono-Regular.woff2") format("woff2");
}
