@utility form-input {
	@apply block w-full rounded-md px-3 py-2 text-grey-700 shadow-xs outline-hidden;

	@variant placeholder {
		@apply text-grey-500;
	}

	@variant dark {
		@apply bg-transparent;
	}
}

@utility form-checkbox {
	@apply mt-0.5 size-4 shrink-0 appearance-none rounded-sm outline-hidden ring-1 ring-grey-300 transition-all;

	@variant hover {
		@apply ring-2 ring-grey-500;

	}

	@variant focus {
		@apply ring-2 ring-purple-800;
	}

	@variant checked {
		@apply bg-current text-purple-800 ring-current;

		@variant focus {
			@apply ring-offset-2;
		}
	}

	@variant dark {
		@apply bg-white/20 ring-white/30;

		@variant hover {
			@apply ring-white/50;
		}

		@variant focus {
			@apply ring-purple-400;
		}

		@variant checked {
			@apply text-purple-400 ring-current;
		}
	}
}

@utility form-radio {
	@apply size-4 appearance-none rounded-full outline-hidden ring-1 ring-grey-300 transition-all;

	@variant hover {
		@apply ring-2 ring-grey-500;
	}

	@variant focus {
		@apply ring-2 ring-purple-800;
	}

	@variant checked {
		@apply bg-current text-purple-800 ring-current;

		@variant focus {
			@apply ring-offset-2;
		}
	}

	@variant dark {
		@apply bg-white/20 ring-white/30;

		@variant hover {
			@apply ring-white/50;
		}

		@variant focus {
			@apply ring-purple-400;
		}

		@variant checked {
			@apply text-purple-400 ring-current;
		}
	}
}

@utility button-group {
	@apply button--muted cursor-pointer rounded-none transition-all;

	@variant focus {
		@apply bg-grey-50 border-grey-400 outline-hidden ring-2 ring-purple-800 ring-offset-2;
	}

	@variant checked {
		@apply border-purple-800 bg-purple-800 text-white;
	}

	@variant dark {
		@apply bg-white/20 border-white/20;

		@variant focus {
			@apply bg-white/30 border-white/20 ring-purple-400;
		}
	}
}

@utility button-group--first {
	@apply rounded-s-lg;
}

@utility button-group--middle {
	@apply border-s-0;
}

@utility button-group--last {
	@apply rounded-e-lg;
}

@utility form-input--error {
	@apply ring-red-600;

	@variant dark {
		@apply ring-red-300;
	}
}

@layer components {
	[data-selector="form-input-wrapper"] {
		@apply ring-1 ring-grey-300 rounded-md;

		@variant dark {
			@apply bg-white/20 ring-white/30;
		}

		&:has(:hover) {
			@apply ring-grey-400;

			@variant dark {
				@apply ring-white/50;
			}
		}

		&:has(:focus) {
			@apply ring-2 ring-purple-800;

			@variant dark {
				@apply ring-purple-400;
			}
		}
	}

	[data-selector="form-prefix"],
	[data-selector="form-suffix"] {
		@apply text-grey-500;

		@variant dark {
			@apply text-grey-300;
		}

		& > svg {
			@apply size-4 stroke-current;
		}
	}

	textarea {
		@apply min-h-40;

		field-sizing: content;
	}

	[type="checkbox"]:checked {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23FFF' d='m12.796 6.086-5.533 5.706a.675.675 0 0 1-.975 0l-3.086-3.2a.727.727 0 0 1 0-1.005l.861-.889a.675.675 0 0 1 .974 0l1.756 1.757 4.17-4.248a.675.675 0 0 1 .973 0l.86.869c.13.133.204.315.204.505s-.073.371-.204.505'/%3E%3C/svg%3E");
	}

	[type="radio"]:checked {
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
	}
}
